*, ::after, ::before{
  box-sizing: content-box;
}
.form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle:not(:focus) {
    outline: 0;
  }
  
  .container{
    width:100%;
  }

  .logo{
    margin-left: 10%;
  }

  header{
    padding:0 15em;
  }

  .nav-link{
    color:white;
  }

  .nav-link:hover{
    color:#E5B80B;
  }