<div *ngIf="isHomePage" class="header header-home b-example-divider">
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
      <div class="col-md-3 mb-2 mb-md-0 logo">
        <a routerLink="/home"><img src="assets\img\logo_blanco.png" alt="Logo La Posada Del Guerrero" width="200px"/></a>
      </div>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/listmaker/1" class="nav-link px-2">Crear lista</a></li>
        <li><a href="#" class="nav-link px-2">Reglas especiales</a></li>
      </ul>
      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-info botonInicio" routerLink="/login">INICIAR SESIÓN</button>
      </div>
    </header>
  </div>
  <div id="descripcionHome">
    <h3 class="lema">Únete a</h3>
    <h1 class="lema">La Taberna Del Guerrero</h1>
    <h3 class="lema">y forja tus listas de ejército épicas de forma fácil y rápida para derrotar a tus enemigoss.</h3>
    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-primary botonInicio" routerLink="/listmaker">CREAR LISTA</button>
    </div>
  </div>
</div>
<app-navbar *ngIf="!isHomePage"></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>