.unit, .title {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.unit {
  margin-bottom: 1em ;
}

.item, .title {
  padding: 20px 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.title {
  font-size: 16px;
  font-weight: 500;
}

.item {
  border-bottom: solid 1px #FFFFFF;
  background: #eeeeee;
  font-size: 14px;

}

.item:hover{
  background-color: #F7D85E;
}

#edicion:focus{
  background-color: #F7D85E;
}

.item:last-child {
  border: none;
}

#opciones{
  background-color: #F7D85E;
  padding: 2em;
}

.unit {
  display: none;
}

.unit.selected {
  display: block;
}

.row {
  gap: 3em;
  margin:10%;
}

#btn-save {
  width: 60%;
  margin: 2em 0;
  padding: 1em;
  background-color: #BA0D4A;
  color:white;
}

#btn-save:hover{
  background-color: #74082E;
}

#botonContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#containerTitle{
  background-image: url("../../assets/img/creador.png");
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding: 7% 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
}

h1{
  font-family: 'medievalSharp';
  font-size: 35px;
  margin:0 !important;
  color:white;
}

